body {
    background-color: #000;
    color: #fff;
    font-family: "Gentium Plus", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: large;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: none;
    background: #3d007a;

}

header {
    box-shadow: inset 0 3rem 3em #0000001a, 0.3em 1em 1em #0000004d;
    background: linear-gradient(to right left,  #000, #3d007a);
    margin: 1%;
    margin-left: 28.5%;
    width: 50rem;
}

h1 {
    margin-top: 10px;
    font-size: 3rem;
    color: #cacaca;
    font-weight: 700;
    font-style: normal;
    text-shadow: #fff 1px 0 5px;
    
}

p {
    font-weight: 600;
    font-style: italic;
}

button {
    background-color: #002ac0;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 5px;
    transition: ease background-color 0.3s;
    font-weight: 700;
    font-style: normal;
    box-shadow: inset 0 3rem 3em #0000001a, 0.3em 1em 1em #0000004d;
}

button:hover {
    background-color: #42569b;
}

button:active {
    transform: scale(0.9);
}

button:disabled {
    background-color: #99aab5;
    cursor: default;
}

#reload {
    margin-top: auto;
    margin-bottom: auto;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: calc(100vh - 120px);
    overflow: hidden;
    background: linear-gradient(#3d007a, #000000);
}

#result {
    margin-top: 1rem;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    box-shadow: inset 0 3rem 3em #0000001a, 2rem 2rem 2rem #0000004d;

}

#user, #cpu {
    text-align: center;
    flex: 1;
}

#uScore, #cpu-score {
    font-size: 2rem;
    margin: 10px 0;
}

.choices button {
    display: block;
    margin: 10px auto;
}

.choices img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto 5px;
}

#user-choice img, #cpu-choice img {
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #000000; 
    background-color: #00000066; 
}

.modal-content {
    border-radius: 15px;
    background-color: #000;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid transparent;
    width: 80%; 
    max-width: 600px;
    text-align: center;
    animation: colorModal 5s infinite;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-message {
    font-size: 1.5em;
    color: #ffffff;
}

#cursor-light {
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    pointer-events: none;
    z-index: 9999;
    opacity: 0.5;
    box-shadow: 0 0 100px 50px #7289da;
}

#cpu .choices button {
    pointer-events: none;
    background-color: #99aab5;
    transform: none !important;
    transition: none;
}

@keyframes colorModal {
    0% {
        border-color: #ff0000;
        box-shadow: 0 0 50px #ff0000;
    }
    25% {
        border-color: #00ff00;
        box-shadow: 0 0 50px #00ff00;
    }
    50% {
        border-color: #0000ff;
        box-shadow: 0 0 50px #0000ff;
    }
    75% {
        border-color: #ffff00;
        box-shadow: 0 0 50px #ffff00;
    }
    100% {
        border-color: #ff0000;
        box-shadow: 0 0 50px #ff0000;
    }
}

@media screen and (max-width: 390px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header {
        margin: 0.5rem;
        width: 20rem;
    }

    #result {
        width: 14rem;
        padding: 4rem;
        padding-top: 0;
        
    }

    button {
        width: 5rem;
        height: 5rem;
        text-align: center;
        font-size: 15px;
        display: flex;

    }

    #reload {
        height: 2rem;
        padding: 1rem;
        padding-top: 0.5rem;
    }

    .choices img {
        width: 50px;
        height: 50px;
    }
}

  @media screen and (min-width: 391px) and (max-width: 768px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header {
        box-shadow: inset 0 3rem 3em #0000001a, 0.3em 1em 1em #0000004d;
        background: linear-gradient(to right left,  #000, #3d007a);
        margin: 1rem;
        width: 25rem;
    }
    
    h1 {
        margin-top: 10px;
        font-size: 3rem;
        color: #cacaca;
        font-weight: 700;
        font-style: normal;
        text-shadow: #fff 1px 0 5px;   
    }

    #result {
        width: 35rem;
        padding: 5rem;
    }

}